:root {
  --app-header-z-index: 200;
  --app-header-height: rem(60);
  --app-header-horizontal-padding: calc(var(--mantine-spacing-md) * 4);
  --app-header-horizontal-padding-mobile: var(--mantine-spacing-md);

  --dashVista-background: #f7f8fa;
  --dashVista-accentColor: #6637f5;
  --dashVista-green: #6dc489;
  --dashVista-orange: #eb8540;

  --insightGrid-background: #343434;
  --insightGrid-main-background: #0a0a0a;
}

a {
  text-decoration: none;
  appearance: none;
}

.hideScrollbar {
  ms-overflow-style: none !important /* IE and Edge */;
  scrollbar-width: none !important /* Firefox */;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
