:root {
  --app-header-z-index: 200;
  --app-header-height: rem(60);
  --app-header-horizontal-padding: calc(var(--mantine-spacing-md) * 4);
  --app-header-horizontal-padding-mobile: var(--mantine-spacing-md);
}

a {
  text-decoration: none;
  appearance: none;
}

.hideScrollbar {
  ms-overflow-style: none !important /* IE and Edge */;
  scrollbar-width: none !important /* Firefox */;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
