.logo_title {
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
}

.header {
  z-index: var(--app-header-z-index);
  padding: 0 var(--app-header-horizontal-padding);

  @media (max-width: $mantine-breakpoint-md) {
    padding: 0 var(--app-header-horizontal-padding-mobile);
  }
}

.main {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
  padding-top: var(--app-header-height);
  padding-bottom: 0;
}
