.root {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );

  padding: rem(60) var(--app-header-horizontal-padding);

  @media (max-width: $mantine-breakpoint-md) {
    padding: var(--app-header-horizontal-padding-mobile);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
