.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.navlink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: var(--mantine-radius-xl);
  padding: rem(8) var(--mantine-spacing-xs);
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-4));

  &[data-active="true"] {
    color: white;
    background-color: black;

    svg {
      color: white;
    }

    p {
      font-weight: 500;
    }
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }
}

.navlinkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(8);
}
