@font-face {
  font-family: "Greycliff";
  src: url("./GreycliffCF/GreycliffCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Greycliff";
  src: url("./GreycliffCF/GreycliffCF-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
